In [1]:
print()

In [2]:
print("Mohd usman")

Mohd usman

In [8]:
"welcome"

'welcome'

- Raw output only for developers understanding

In [7]:
30/30

1.0

In [9]:
print('this is mango', 'it is fruit', 'i like to eat mango')

this is mango it is fruit i like to eat mango

In [12]:
print("This is python Data Science ")
print("we are going to learn code ")
print("and learn the secrets of python")

This is python Data Science
we are going to learn code
and learn the secrets of python

In [16]:
print("My name is Mohd \nI am learning python")

My name is Mohd
I am learning python

In [10]:
print(1,2,3,4.5)

1 2 3 4.5

- Its Automactically added \n

In [17]:
print("""
This is python Data Science 
we are going to learn coding
and learn the secrets of python
""")

This is python Data Science
we are going to learn code
and learn the secrets of python

- There are few setting in print that we can provide whatever we want to print something

we are using sep="" for adding any symbol or emoji simultenously
Shortcut key for emoji is windows + .

In [20]:
print(1,2,3,4,5,6,7,89, sep="üöóüòÅ/")

1üöóüòÅ/2üöóüòÅ/3üöóüòÅ/4üöóüòÅ/5üöóüòÅ/6üöóüòÅ/7üöóüòÅ/89

End='' is use for not changing line

In [23]:
print("this ", end=' ')
print("is")
print("Multiline")
print("message")

this  is
Multiline
message

Variables and Datatypes

In [24]:
age= 16
name = "usman"
color2 = "red"
is_sleeping = False

- we can change values in variables
- *datatype* can be change by changing the values of a variables
- For delting variables is we use keyword called *del*

In [38]:
name="Nobita"
age= 19
del  age

# There are 9 datatypes in python <h3>
1. Integer

In [31]:
x= 1
y= 123456789065432123456776543256765432123456789087654321234567890876543
z= -1

2. Flaot (Ex- 1.2 , 1.3)

In [35]:
x= 1.23
y= 7.3
z= -9.8
t = 89.7e100

3. String

In [36]:
from turtle import color


Name=("Nobita")
color=("blue")
institute=("Digipodium")

4. Boolean 
* Boolean represents one of two values: True or False

In [39]:
is_coding= True
is_fun= False
are_u_bore=True

5. Nonetype - When you dont want to store Something but want to create an empty

6. Lists
* List is an ordered sequence of items 
* Does not need same type
* Within square brackets[]

In [40]:
v =[ 1, 2.5 , 20 ]
h= [ 1, 2.2 , "python"]

7. Tuples
* we use round brackets ()

In [41]:
v =(1, 2.5 , 20) 
h= (1, 2.2 , "python")

8. Sets 
* set is unordered sequence of unique items
* they eliminate duplicates
* we use {} for set

In [42]:
v ={1, 2.5 , 20}
h= {1, 2.2 , "python"}

9. Dictionaries
* Dictionaries is an order collection 
* generally used when we have huge amount of data 
* Dictionaries are defined within braces {}

In [43]:
car_info={
    "brand": " ford",
    "model": " Mustang",
    "year" : "1964"
}

# input in python

In [46]:
name = input("What is your name?")
city= input( "What city do you live in?")
print("So according to you")
print("you are",name)
print("and you live in" ,city)

So according to you
you are Mohd Usman
and you live in lko