In [3]:
#lists of string
list1 = [ 'usman', 'rayan', 'Anu', 'haseeb']

# lists of no.

list2= [1,2,3,4,5,6,7,8]

#mixed data lists
lists3 =[ 'ravi', 90,100, False, 'B' ]

#nested list
lists4 =[ [1,2,3],[100,6], [7,8] ]

In [4]:
print(list1)

['usman', 'rayan', 'Anu', 'haseeb']

In [8]:
#accessing lists items in python
list1 = [ 2,3,4, 'A',10, 'C', 20]
print('list1= ', list1)

#first item
print("list1[0]=",list[0])

# third item
print("list1[2]=",list[2])

#last item
print("list1[-1]=",list[-1])

#last third item
print("list1[-3]=",list[-3])

list1=  [2, 3, 4, 'A', 10, 'C', 20]
list1[0]= list[0]
list1[2]= list[2]
list1[-1]= list[-1]
list1[-3]= list[-3]

In [11]:
#getting a list slice
l= [1,2,3,4,5,67,8,90,9,70]
slice1 = l[3:-2]
print(slice1)

[4, 5, 67, 8, 90]

In [16]:
books = [
    'RD sharma',
    'java',
    'clamaity',
    'OS',
    'legion',
    'steelheart',
    'warbreaker',
]

In [17]:
books[:3] #first 3 books

['RD sharma', 'java', 'clamaity']

In [18]:
books[-3:] #last 3 books

['legion', 'steelheart', 'warbreaker']

In [19]:
books[3:-3] # all except first three and last three

['OS']

In [25]:
books.append('fire fighter')
books.append('RS agarwal')
print(books)

['RD sharma', 'java', 'clamaity', 'OS', 'legion', 'steelheart', 'warbreaker', 'fire fighter', 'fire fighter', 'RS agarwal', 'ssc', 'fire fighter', 'RS agarwal']

In [24]:
bookname = input('enter book name')
books.append('ssc')

In [30]:
books.insert(6, 'The hero of ages')
print(books)

['RD sharma', 'java', 'clamaity', 'OS', 'legion', 'steelheart', 'The hero of ages', 'warbreaker', 'fire fighter', 'fire fighter', 'RS agarwal', 'ssc', 'fire fighter', 'RS agarwal']

In [33]:
books.insert(100, 'silicon valley')
print(books)

['RD sharma', 'java', 'clamaity', 'OS', 'legion', 'steelheart', 'The hero of ages', 'warbreaker', 'fire fighter', 'fire fighter', 'RS agarwal', 'ssc', 'fire fighter', 'RS agarwal', 'The hero of ages', 'sillicon valley', 'silicon valley']

In [57]:
books.reverse() 
print(books)

['RD sharma', 'java', 'clamaity', 'OS', 'legion', 'steelheart', 'The hero of ages', 'warbreaker', 'fire fighter', 'fire fighter', 'RS agarwal', 'ssc', 'fire fighter', 'RS agarwal', 'The hero of ages', 'sillicon valley', 'silicon valley']

list of 11 function

In [21]:
#append
fruits =[] # empty list
fruits.append("apple")
fruits.append("banana")
fruits.append("cherry")
fruits.append("guava")
fruits.append("mango")
fruits

['apple', 'banana', 'cherry', 'guava', 'mango']

In [39]:
fruits = [ 'apple', 'banana', 'cherry']
fruits.insert(0, 'orange')
fruits

['orange', 'apple', 'banana', 'cherry']

In [40]:
dry_fruits = ['almond', 'cashew', 'walnut']
fruits.extend(dry_fruits)
fruits

['orange', 'apple', 'banana', 'cherry', 'almond', 'cashew', 'walnut']

In [41]:

fruits.sort()
fruits

['almond', 'apple', 'banana', 'cashew', 'cherry', 'orange', 'walnut']

In [42]:
fruits.sort(reverse = True) #for reverse sort
fruits

['walnut', 'orange', 'cherry', 'cashew', 'banana', 'apple', 'almond']

In [44]:
x= [1,2,3,3,3,1,1,4,4,4,5,5,5,5,2,2,2,1,1,1,]
x.sort()
x

[1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5]

In [55]:
x.remove(3) if 3 in x else print("not found")
print(x)

not found
[1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 4, 4, 4, 5, 5, 5, 5]

In [59]:
x.count(1) #count function

6

In [54]:
#remove fuction
fruits.remove('cherry')
fruits

['orange', 'cashew', 'banana']

In [48]:
fruits.pop(-1)

'apple'

In [58]:
fruits.reverse()
fruits

['banana', 'cashew', 'orange']

In [61]:
#index Fuction
movies = ['Iron man', 'batman', 'avengers', 'spider man no way home ', 'vemon', 'Thor']

In [65]:
movies.index('avengers')

2

In [66]:
len(movies)

6

In [69]:
movies[movies.index("batman") :]

['batman', 'avengers', 'spider man no way home ', 'vemon', 'Thor']

In [70]:
#copy function
fruits

['banana', 'cashew', 'orange']

In [71]:
dup_fruits = fruits.copy()
print(dup_fruits)

['banana', 'cashew', 'orange']

In [72]:
#clear function
fruits.clear()

In [73]:
fruits

[]

In [74]:
#pop function
books.pop()

'silicon valley'

In [75]:
books.pop(-3)

'RS agarwal'

wap to create a list of 5 values given by the user

In [77]:
ex = []
for i in range(5):
    val = input(f'enter value {i+1}: ')
    ex.append(val)
print(ex)

['mango', 'apple', 'banana', 'pomogranete', 'papaya']

wap to display sum of lists

In [80]:
data = [23,54,67,99,90,45]
total = 0
for i in data:
    total += i
print(total)

378

wap to mean , median ,  mode  , std

In [10]:

x = [1, 2, 3, 4, 5, 7, 8, 9] 

mean = sum(x)/len(x)
print(mean)

#median 
x.sort()
if len(x) % 2 == 0 :
    median =(x[len(x)//2] + x[len(x)//2 -1])/2 
else:
    median = x[len(x)//2]
print(median)

#min
print(min(x))

#max
print(max(x))

TypeError: 'int' object is not callable

In [9]:
#median
x.sort()
if len(x) % 2 == 0 :
    median =(x[len(x)//2] + x[len(x)//2 -1])/2 
else:
    median = x[len(x)//2]
print(median)

4.5

In [11]:
x = [1,2,3]
y = [3,2,1]
print(x+y)

[1, 2, 3, 3, 2, 1]

In [15]:
a1 = [1, 2 , 3]
b1 = [ 3,2,1]
n1 =[]
for i in range(len(a1)):

    n1.append(a1[i]+b1[i])
print(n1)

[4, 4, 4]

In [18]:
a1 = [1, 2 , 3]
b1 = [ 3,2,1]
n1 =[]
for i , j in zip(a1,b1):
    n1.append(i+j)
print(n1)

[4, 4, 4]

#create a list where every element in a square of elements of existing list

In [23]:
x= [2,4,6,8]
x2= []
for i in x:
    x2.append(i**2)
print(x)
print(x2)

[2, 4, 6, 8]
[4, 16, 36, 64]

In [21]:
#create a list where every odd element is a sqr of elements from an existing list
x = [1,5,3,4,5,6]
x2 = []
for i in x:
    if i%2!=0:
     x2.append(i**2)
print(x)
print(x2)

[1, 5, 3, 4, 5, 6]
[1, 25, 9, 25]

In [28]:
x2 = [ i **2 for i in x if i%2!=0]
print(x)

[2, 4, 6, 8]

In [3]:
#create a acronym list from an existing list of words
w = ['united state', ' project manager', 'software engineer' , 'Data Analyst', 'senior software engineer','senior Data Analyst'
'data scientist', ' Data Engineer']
a = []
for item in w:
    items = item.split()
    s=''
    for i in items:
        s += i[0]
    a.append(s)
print(a)

['us', 'pm', 'se', 'DA', 'sse', 'sDAs', 'DE']

In [12]:
#take a list from user in one line of input and then remove all the non numeric values from the list 
#then display  the cubes of number from that list
entries = input("enter data using with space")
ln=entries.split(' ')
print(ln)

['29', '80', '97', '100', 'mango', 'apple']

In [29]:
entries = input("enter data using with space")
print(entries)
numeric = []
for value in entries.split():
    if value.isnumeric():
        numeric.append(int(value))
print(numeric) 
#numeric = [ int(value) for value in entries.split() if value.isnumeric()] comprehension
x2 = []
for i in numeric:
    x2.append(i**3)
print(numeric)
print(x2)

23 45 namgo
[23, 45]
[12167, 91125]

#list comprehension
is a way to create a list from existing list using one line of expression
##syntax 
newlist = [expression for item in oldist]

In [25]:
x2 = [ i ** 3 for i in numeric]
print(x2)

[27, 64]