Tuples

In [1]:
a =(1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [2]:
b = 1,2,3,4,7
print(b)
print(type(b))

(1, 2, 3, 4, 7)
<class 'tuple'>

In [3]:
for val in a:
    print(val)

1
2
3
4

In [4]:
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [5]:
print(("repeat",)*3)

('repeat', 'repeat', 'repeat')

In [9]:
my_tuple= ("a","p","p","l","e")
print(my_tuple.count("p"))
print(my_tuple.index("l"))

2
3

In [10]:
al = list(a)
print(al)

[1, 2, 3, 4]

In [11]:
val = [2,3,4,5,6,7]
print(val)
valt = tuple(val)
print(valt)

[2, 3, 4, 5, 6, 7]
(2, 3, 4, 5, 6, 7)

Sets

In [13]:
s1={1,2,3,4,5,6,7,8,9,2,2,2,10}
print(s1)
print(type(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

In [14]:
s2 = set([1,2,3,2])
print(s2)

{1, 2, 3}

In [15]:
s3 = {1,2, [3,4]}

TypeError: unhashable type: 'list'

In [16]:
a = set()
print(type(a))

<class 'set'>

In [18]:
#add an element in set
s4 = {1,3}
print(s4)
s4.add(2)
print(s4)

{1, 3}
{1, 2, 3}

In [20]:
#add multiple elements
s4.update([2,3,4])
print(s4)

{1, 2, 3, 4, 5, 6, 7}

In [21]:
s4.update([4,5],{1,6,8})
print(s4)

{1, 2, 3, 4, 5, 6, 7, 8}

Removing items from sets

In [22]:
#discard an element
s4.discard(5)
print(s4)

{1, 2, 3, 4, 6, 7, 8}

In [23]:
#remove an element
s4.remove(6)
print(s4)

{1, 2, 3, 4, 7, 8}

In [24]:
#pops an elements
s4.pop()
print(s4)

{2, 3, 4, 7, 8}

In [25]:
#clear set 
s4.clear()
print(s4)

set()

Set Operations

In [26]:
#set union
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A|B)#use | operator

{1, 2, 3, 4, 5, 6, 7, 8}

In [27]:
A.union(B)#use union Function

{1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
#use union function on B
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

set intersection

In [29]:
#use & operator
print(A & B)

{4, 5}

In [30]:
A.intersection(B)

{4, 5}

set difference

In [31]:
#use - Operator
print(A-B)

{1, 2, 3}

In [32]:
#use difference function on A
A.difference(B)

{1, 2, 3}

In [33]:
B-A

{6, 7, 8}

Set Symmetric differnce

In [34]:
#use ^ operator
print(A^B)

{1, 2, 3, 6, 7, 8}

In [35]:
#use symmetric_difference function on A
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [43]:
a ={"mouse", "keyboard","monitor","CPU","laptop"}
b = {"CPU", "laptop", "bulb", "heater", "induction"}
print(a|b)

{'bulb', 'induction', 'mouse', 'keyboard', 'heater', 'laptop', 'monitor', 'CPU'}

In [44]:
a.union(b)

{'CPU',
 'bulb',
 'heater',
 'induction',
 'keyboard',
 'laptop',
 'monitor',
 'mouse'}

In [45]:
b.union(a)

{'CPU',
 'bulb',
 'heater',
 'induction',
 'keyboard',
 'laptop',
 'monitor',
 'mouse'}

In [42]:
a ={"mouse", "keyboard","monitor","CPU","laptop"}
b = {"CPU", "laptop", "bulb", "heater", "induction"}
print(a & b)

{'laptop', 'CPU'}

In [46]:
a.intersection(b)

{'CPU', 'laptop'}

In [47]:
print(a - b)

{'monitor', 'mouse', 'keyboard'}

In [48]:
b.difference(a)

{'bulb', 'heater', 'induction'}

In [49]:
b-a

{'bulb', 'heater', 'induction'}

In [50]:
print(a^b)

{'bulb', 'mouse', 'keyboard', 'heater', 'monitor', 'induction'}

In [51]:
a.symmetric_difference(b)

{'bulb', 'heater', 'induction', 'keyboard', 'monitor', 'mouse'}

Dictionary

In [56]:
#acessing elements from dictionary
my_dict={'name': 'jack', 'age': 26}
print(my_dict['name'])
print(my_dict.get('age'))
print(my_dict['address'])

jack
26

KeyError: 'address'

In [57]:
print(my_dict.get('address'))

None

#modifying elemnts from dictionary

In [58]:
#update value
my_dict['age']=27
print(my_dict)

#add item
my_dict['address'] = 'Downtown'
print(my_dict)

{'name': 'jack', 'age': 27}
{'name': 'jack', 'age': 27, 'address': 'Downtown'}

#removing elements from dictionary

In [59]:
square = {1:1,2:4, 3:9 , 4:16 , 5:25}
 #remove particular items, returns its value
print(square.pop(4))

16

In [60]:
print(square.popitem())
print(square)

(5, 25)
{1: 1, 2: 4, 3: 9}

In [62]:
print(s1)
sl = list(s1)    #set to list
print(sl)

st = tuple(s1)    # set to tuple
print(st)

a = set([1,2,3,3,3,4,4,5])  #list to set
print(a)

b = set((2,1,2,2,3,4,4,5))  # tuple to set
print(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [67]:
report = {
    'student 1':{
        'name':'john',
        'marks':{
            'math': 80,
            'science': 90,
            'english': 70,
            'history': 60,
            'evs':90
        }

    },
    'student 2':{
        'name':'mary',
        'marks':{
            'math': 70,
            'science': 80,
            'english': 60,
            'history': 60,
            'evs':80
        }
},
}
report

{'student 1': {'name': 'john',
  'marks': {'math': 80,
   'science': 90,
   'english': 70,
   'history': 60,
   'evs': 90}},
 'student 2': {'name': 'mary',
  'marks': {'math': 70,
   'science': 80,
   'english': 60,
   'history': 60,
   'evs': 80}}}

In [68]:
print(report['student 1'])

{'name': 'john', 'marks': {'math': 80, 'science': 90, 'english': 70, 'history': 60, 'evs': 90}}

In [69]:
print(report['student 1']['name'])
print(report['student 1']['marks'])
print(report['student 1']['marks']['history'])

john
{'math': 80, 'science': 90, 'english': 70, 'history': 60, 'evs': 90}
60

In [71]:
#loop for dictionary
for k,v in report.items():
    print(k,v)

student 1 {'name': 'john', 'marks': {'math': 80, 'science': 90, 'english': 70, 'history': 60, 'evs': 90}}
student 2 {'name': 'mary', 'marks': {'math': 70, 'science': 80, 'english': 60, 'history': 60, 'evs': 80}}

In [73]:
#nested loop for dictionary
for k , v in report.items():
    print("student:", k )
    if isinstance(v,dict):
        for k1 , v1 in v.items():
            if isinstance(v1,dict):
                for sub,marks in v1.items():
                    print(sub,marks)
            else:
                print(v1)
    else:
        print(v)

In [2]:
list.append?

Signature: list.append(self, object, /)
Docstring: Append object to the end of the list.
Type:      method_descriptor

def func_name([params]):
    statement 1
    ...
    statement 2
    [return values]

In [5]:
def hello():
    print("This is a fuction")
    print("This is not fuction")
    print("forget that this is function")
    print("bye")
print("hi, i am outside any function")

hi, i am outside any function